body{
  background-image: url(../images/bck.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Playfair Display', serif;
}

header{
  background-color: red;
  width: 80%;
  height: 300px;
  margin-left: 10%;
}

.main-content{
  margin-left: 10%;
  width: 80%;
}

.form-panel{
  display: block;
  float:left;
  background-color: blue;
  padding-bottom: 10px;
}

.result-table{
  display: block;
  float:right;
  background-color: orange;
  padding: 50px 70px 50px 70px;
}

.add-album input{
  width: 80%;
  margin-left:10%;
}

h2{
 color: white;
 text-align: center;
}

.slider {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.insideSlider{
  width: 400%;
  height: 100%;
  position: relative;
  left: -100%;
}

.item {
  width: calc(100%/4);
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  float: left;
}
