body{
  background-image: url(../images/bck.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Playfair Display', serif;
}

header{
  background-color: red;
  width: 80%;
  height: 250px;
  margin-left: 10%;
}

.main-content{
  margin-left: 10%;
  width: 80%;
}

.form-panel{
  display: block;
  float:left;
  background-color: blue;
  padding-bottom: 10px;
}

.result-table{
  display: block;
  float:right;
  background-color: orange;
  height: 200px;
}

.add-album input{
  width: 80%;
  margin-left:10%;
}

h2{
 color: white;
 text-align: center;
}
